body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
}

.title {
    font-size: 40px;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.search-container {
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 50px;
    background-color: #454E53;
    border: 1px solid #979797;
    border-radius: 44px;
    height: 35px;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.search-input {
    padding: 1px;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
}

.fa-search {
    color: white;
    font-size: 20px;
}
.fa-search:hover {
    color: #979797;
}

.list-container {
    width: 285px;
    border-radius: 30px;
    background-color: white;
    top: 320px;
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 50px;
    bottom: 20px;
    display: flex;
}

.stores-list {
    display: flex;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.background {

    border-bottom: 1px solid #979797;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.store:hover {
    background-color: #cccccc87;

}

.store-index {
    background-color: #454E53;
    border-radius: 20px;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-index-hover-state {
    color: #454E53;
    background-color: #B5ADAD;
}
.intro {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 20px;
}
.enter-zip {
    color: #514c4c;
}
.find-stores{
    color: #1985a1;
}
.no-stores-found {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 20px;
}